
.form_section {
    header {
        display: flex;
    }
    .form {
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    input {
        margin-bottom: 10px;
    }
    textarea {
        width: 100%;
    }
    
}
