@import "../theme/colors.scss";

.search_box {
    display: flex;
    z-index: 10;
    input {
        border-radius: 5px 0 0 5px;
    }
    button {
        outline: none;
        border: none;
        background: $rose-bg-color;
        background-image: url("../assets/images/search-icon.svg");
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: contain;
        border: 10px solid $rose-bg-color;
        border-radius: 0 5px 5px 0;
        width: 20px;
        height: 20px;
        padding: 10px;
    }
}