$rose-bg-color: #FED9C9;
$golden-color: #af7627;
$transparrent-bg-color: #ffffffd2;
$purple-hover-color: #ebc5e99c;
$main-text-color: #333333;
$white-color: #fff;
$btn-color: invert($rose-bg-color);

$main-btn-color: #d10061;
$main-bg-color: black;
$main-bg-footer-color: black;
$main-interaction-color: #00f9b6;
$main-interaction-box-border-color: #1f5e5b;
$main-header-color: #fff;
