@font-face {
  font-family: "Odibee Sans";
  src: url("../assets/fonts/OdibeeSans/OdibeeSans-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

$font-logo: 'Odibee Sans';
$font-main: 'Trebuchet MS';