@import "./colors.scss";
@import "./fonts.scss";
@import "./mixins.scss";


*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  position: relative;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: apple-system , BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  // compensate from Navigation    
  margin-top: 10vh;

}
h1, 
h2,
h3,
h4 {
}
.title {
  text-align: center;
}
p{
  color: $main-text-color;
  font-size: clamp(1rem, 2.5vw, 1.2rem); 
}

span{
  cursor: pointer;
}
a {
  color: inherit;
  text-decoration: none;
  color: $main-text-color;
 
}
// @mixin energyType($color) {
//   background-color: $color;
//   width: 20px;
//   height: 20px;
//   @include center
// }
.A {
  @include energyType(green)
}
.B {
  @include energyType(yellowgreen)
}
.C {
  @include energyType(yellow)
}
.D {
  @include energyType(orange)
}
.E {
  @include energyType(orangered)
}
.F {
  @include energyType(red)
}
.A,.B,.C,.D,.E,.F {
  color: $white-color;
}

img {
  max-width: 100%;
}
.btn{
  max-width: 100px;
  z-index: 100;
  outline: none;
  color: #fff;
  border: 1px solid $btn-color;
  background: $btn-color;
  cursor: pointer;
}
input {
  border: 1px solid $main-interaction-box-border-color;
  color: $main-interaction-color;
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $main-interaction-color;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: $main-interaction-color;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: $main-interaction-color;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: $main-interaction-color;
  }
}


// SLET EFTERFØLGENDE

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
}
// other modals z-index 10
// slider modal z-index 12
// layer so that they don´t conflict, when closing
.carousel-overlay {
  z-index: 11;
}

