
  // // other modals z-index 10
  // // slider modal z-index 12
  // // layer so that they don´t conflict, when closing
  // .carousel-overlay {
  //   z-index: 11;
  // }

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(2px);
  }
  .overlay_success {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(87, 190, 78, 0.2);
    backdrop-filter: blur(2px);
  }
  .center {
    width: 100%;
    height: 100%;
    background: red;
    position: absolute !important;
    top: 50%;
  }
  

// Global CSS for both modals. modalContainer, header
.modal_container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 999999;
  //!!!!
 max-width: 70%;
 max-height: 70%;
 min-width: 70%;
 min-height: 70%;
 width: 70%;
  height: 70%;
  background: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  .title {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(71, 209, 90);
  }
  input {
    width: 100% !important;
  }
  .header {
    .close--small {
      display: none;
      cursor: pointer;
      z-index: 14;
    }
    background: #fff;
    h3 {
      margin: 0;
      padding: 22px 56px;
      color: #fff;
      font-size: 36px;
    }
  }
  .true {
    display: flex;
  }

  .false {
    display: none;
  }
  
    .close {
      position: absolute;
      top: 0;
      left: 102%;
      font-size: 20px;
      margin: 0;
      padding: 0;
      color: #fff;
      font-weight: bolder;
      cursor: pointer;
    }
  
}