.card_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
   
    &__card {
        position: relative;
        width: 250px;
        height: 400px;
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover;
        border: 1px solid black;
        margin: 10px;


        &__desc{
            background: #fff;
            opacity: 91%;
            width: 100%;
            position: absolute;
            bottom: 0;
            padding: 10px;
        }
    }
}