@import "../../../theme/breakpoints.scss";
@import "../../../theme/fonts.scss";
@import "../../../theme/colors.scss";

.footer {
  display: flex;
  align-items: center;
  background: black;
  color: #fff;
  padding: 0 5%;
  h3 {
    font-size: clamp(1.5rem, 5.5vw, 2.5rem);
    font-weight: 300;
    font-family: $font-logo;
  }
  ul {
    list-style-type: none;
    li {
      list-style-type: none;
      margin-right: 20px;
      :hover {
          color: $golden-color;
      }
    }
  }
  span {
    margin-left: auto;
    float: right;
    display: flex;
    justify-content: space-between;
    width: 80px;
    img:hover {
      filter: invert(48%) sepia(41%) saturate(737%) hue-rotate(355deg)
        brightness(92%) contrast(93%);
    }
  }
}

@media only screen and (max-width: $breakpoint-sm) {
    .footer {
        display: flex;
        flex-direction: column;
        span {
          margin-left: 0;
          justify-content: space-between;
          margin: 20px 0 30px 0;
        }
      }
}